<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item menuClose *ngFor="let sdnt of students" class="list-item">
      <ion-label>
        <h2>
          {{ sdnt.Name }}
        </h2>
        <h3>{{ sdnt.Special }} Special student comment.</h3>
      </ion-label>
      <!-- <ion-select
        slot="end"
        [(ngModel)]="sdnt.Status"
        cancel-text="Annuler"
        interface="popover"
        placeholder="test"
        (ionChange)="statusChange(sdnt)"
      >
        <ion-option >{{
          status
        }}</ion-option>
      </ion-select> -->

      <ion-select value="brown" ok-text="Ok" cancel-text="Dismiss">
        <ion-select-option value="test">Test</ion-select-option>
        <ion-select-option
          *ngFor="let status of getStatusList()"
          value="{{ status.id }}"
          >{{ status }}</ion-select-option
        >
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Notifications</ion-label>
      <ion-select value="notifications" interface="action-sheet">
        <ion-select-option value="enable">Enable</ion-select-option>
        <ion-select-option value="mute">Mute</ion-select-option>
        <ion-select-option value="mute_week">Mute for a week</ion-select-option>
        <ion-select-option value="mute_year">Mute for a year</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-item>
    <ion-label>Notifications</ion-label>
    <ion-select value="notifications" interface="action-sheet">
      <ion-select-option value="enable">Enable</ion-select-option>
      <ion-select-option value="mute">Mute</ion-select-option>
      <ion-select-option value="mute_week">Mute for a week</ion-select-option>
      <ion-select-option value="mute_year">Mute for a year</ion-select-option>
    </ion-select>
  </ion-item>
</ion-content>
