<app-header title="Liste Exercices"></app-header>

<ion-content padding>
  <ion-list>
    <ion-item
      menuClose
      ion-item
      *ngFor="let ex of exercices | async"
      routerLink="info"
      routerLinkActive="active">
      <ion-label text-wrap>
        <ion-badge *ngIf="ex.type==3" color="primary" slot="end">MB</ion-badge>
        <ion-badge *ngIf="ex.type==1" color="primary" slot="end">EX</ion-badge>
        <ion-badge *ngIf="ex.type==2" color="primary" slot="end">H</ion-badge>
        {{ ex.description }}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
