<app-header title="Recherche"></app-header>

<ion-content>
  <ion-searchbar
    placeholder="Nom de l'élève"
    [ngModel]="search"
    inputmode="text"
    type="text"
    (ionChange)="onSearchChange($event)"
    [debounce]="100"
  ></ion-searchbar>
  <ion-list *ngIf="list.length > 0">
    <ion-item menuClose *ngFor="let item of list" class="list-item" (click)="showInfoAlert(item)">
      <div *ngIf="item.studentId != null">
        <ion-label>
          <h2>
            {{item.firstName + " " + item.lastName}}
          </h2>
        </ion-label>
      </div>
      
      <div *ngIf="item.studentId == null">
        <ion-label>
          <h2>
            {{item.number + " " + item.time.substring(0,5) + " " + SkiService.days[item.day] + " ("+SkiService.levels[item.levelId]+")"}}
          </h2>
        </ion-label>
      </div>
    </ion-item>
  </ion-list>
  
 
</ion-content>
